_ngo
*.bit
*.bld
*.bgn
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.xwbt
*.html
*.ncd
*.drc
*.map
*.mrp
*.ngm
*.xrpt
*.csv
*.txt
*.xrpt
*.xml
*.gise
*.cmd_log
*.drc
*.log
xst/
xlnx_auto_0_xdb/
_xmsgs
iseconfig
*.xise
*~
*.o
*.omc
.*
isim
*.wdb
*.dat
*.exe
*.ini
*.cf
*.vcd
vedic_div_test
vedic_div_preshift_test
*.cmd
*.wcfg
*.xmsgs