CONFIG PART=5VLX50TFF1136-1 ;

NET  DIVISOR<0>		   LOC=AJ30;
NET  DIVISOR<1>		   LOC=AH29;
NET  DIVISOR<2>		   LOC=AH30;
NET  DIVISOR<3>		   LOC=AG30;
NET  DIVIDEND<0>	   LOC=AF29;
NET  DIVIDEND<1>	   LOC=AF30;
NET  DIVIDEND<2>	   LOC=AE29;
NET  DIVIDEND<3>	   LOC=AD29;
NET  DIVIDEND<4>	   LOC=V28;
NET  DIVIDEND<5>	   LOC=W27;
NET  DIVIDEND<6> 	   LOC=Y29;
NET  DIVIDEND<7>            LOC=Y28;
NET  QUO<0> 	   LOC=AA30;
NET  QUO<1> 	   LOC=AA29;
NET  QUO<2> 	   LOC=AB30;
NET  QUO<3> 	   LOC=AC30;
NET  QUO<4> 	   LOC=AP32;
NET  QUO<5> 	   LOC=AN32;
NET  QUO<6> 	   LOC=AM32;
NET  QUO<7> 	   LOC=AK31;
NET  RE<0> 	   LOC=AK32;
NET  RE<1> 	   LOC=AJ31;
NET  RE<2> 	   LOC=AJ32;
NET  RE<3> 	   LOC=AH32;

NET  DIVISOR<0>		   IOSTANDARD = LVTTL;
NET  DIVISOR<1>		   IOSTANDARD = LVTTL;
NET  DIVISOR<2>		   IOSTANDARD = LVTTL;
NET  DIVISOR<3>		   IOSTANDARD = LVTTL;
NET  DIVIDEND<0>	   IOSTANDARD = LVTTL;
NET  DIVIDEND<1>	   IOSTANDARD = LVTTL;
NET  DIVIDEND<2>	   IOSTANDARD = LVTTL;
NET  DIVIDEND<3>	   IOSTANDARD = LVTTL;
NET  DIVIDEND<4>	   IOSTANDARD = LVTTL;
NET  DIVIDEND<5>	   IOSTANDARD = LVTTL;
NET  DIVIDEND<6> 	   IOSTANDARD = LVTTL;
NET  DIVIDEND<7>            IOSTANDARD = LVTTL;
NET  QUO<0> 	   IOSTANDARD = LVTTL;
NET  QUO<1> 	   IOSTANDARD = LVTTL;
NET  QUO<2> 	   IOSTANDARD = LVTTL;
NET  QUO<3> 	   IOSTANDARD = LVTTL;
NET  QUO<4> 	   IOSTANDARD = LVTTL;
NET  QUO<5> 	   IOSTANDARD = LVTTL;
NET  QUO<6> 	   IOSTANDARD = LVTTL;
NET  QUO<7> 	   IOSTANDARD = LVTTL;
NET  RE<0> 	   IOSTANDARD = LVTTL;
NET  RE<1> 	   IOSTANDARD = LVTTL;
NET  RE<2> 	   IOSTANDARD = LVTTL;
NET  RE<3> 	   IOSTANDARD = LVTTL;

NET  MCLK1		   LOC=J16;
#NET RS_TX			LOC=K11;
NET  MCLK1		   IOSTANDARD = LVTTL;
#NET RS_TX		   IOSTANDARD = LVTTL;

NET "MCLK1" TNM_NET = "SYS_CLK";
TIMESPEC "TS_SYS_CLK" = PERIOD "SYS_CLK" 14.52 ns HIGH 50 %;
