CONFIG PART=5VLX50TFF1136-1 ;

NET  DIVIDEND<0>		   LOC=AJ30;
NET  DIVIDEND<1>		   LOC=AH29;
NET  DIVIDEND<2>		   LOC=AH30;
NET  DIVIDEND<3>		   LOC=AG30;
NET  DIVIDEND<4>		   LOC=AF29;
NET  DIVIDEND<5>		   LOC=AF30;
NET  DIVIDEND<6>		   LOC=AE29;
NET  DIVIDEND<7>		   LOC=AD29;
NET  DIVIDEND<8>		   LOC=V28;
NET  DIVIDEND<9>		   LOC=W27;
NET  DIVIDEND<10> 	   LOC=Y29;
NET  DIVIDEND<11> 	   LOC=Y28;
NET  DIVIDEND<12> 	   LOC=AA30;
NET  DIVIDEND<13> 	   LOC=AA29;
NET  DIVIDEND<14> 	   LOC=AB30;
NET  DIVIDEND<15> 	   LOC=AC30;
NET  DIVIDEND<16> 	   LOC=AP32;
NET  DIVIDEND<17> 	   LOC=AN32;
NET  DIVIDEND<18> 	   LOC=AM32;
NET  DIVIDEND<19> 	   LOC=AK31;
NET  DIVIDEND<20> 	   LOC=AK32;
NET  DIVIDEND<21> 	   LOC=AJ31;
NET  DIVIDEND<22> 	   LOC=AJ32;
NET  DIVIDEND<23> 	   LOC=AH32;
NET  DIVIDEND<24> 	   LOC=V30;
NET  DIVIDEND<25> 	   LOC=V29;
NET  DIVIDEND<26> 	   LOC=W30;
NET  DIVIDEND<27> 	   LOC=W29;
NET  DIVIDEND<28> 	   LOC=AD31;
NET  DIVIDEND<29> 	   LOC=AE32;
NET  DIVIDEND<30> 	   LOC=AE31;
NET  DIVIDEND<31> 	   LOC=AF31;

NET  DIVISOR<0>		   LOC=AJ34;
NET  DIVISOR<1>		   LOC=AD32;
NET  DIVISOR<2>		   LOC=AC32;
NET  DIVISOR<3>		   LOC=AB31;
NET  DIVISOR<4>		   LOC=AB32;
NET  DIVISOR<5>		   LOC=AH33;
NET  DIVISOR<6>		   LOC=V34;
NET  DIVISOR<7>		   LOC=V33;
NET  DIVISOR<8>		   LOC=AF33;
NET  DIVISOR<9>		   LOC=AG33;
NET  DIVISOR<10> 	   LOC=V32;
NET  DIVISOR<11> 	   LOC=AK34;
NET  DIVISOR<12> 	   LOC=AK33;
NET  DIVISOR<13> 	   LOC=AL34;
NET  DIVISOR<14> 	   LOC=AL33;
NET  DIVISOR<15> 	   LOC=AM33;
NET  DIVISOR<16> 	   LOC=AN34;
NET  DIVISOR<17> 	   LOC=AN33;
NET  DIVISOR<18> 	   LOC=AF34;
NET  DIVISOR<19> 	   LOC=AE33;
NET  DIVISOR<20>           LOC=W34;
NET  DIVISOR<21>           LOC=Y34;
NET  DIVISOR<22>           LOC=AA33;
NET  DIVISOR<23>           LOC=W31;
NET  DIVISOR<24>           LOC=W32;
NET  DIVISOR<25>           LOC=AA34;
NET  DIVISOR<26>           LOC=Y33;
NET  DIVISOR<27>           LOC=AD34;
NET  DIVISOR<28>           LOC=AC34;
NET  DIVISOR<29>           LOC=AC33;
NET  DIVISOR<30>           LOC=Y32;
NET  DIVISOR<31>           LOC=AB33;


NET  QUO<0>                 LOC=AF6;
NET  QUO<1>                 LOC=AK6;
NET  QUO<2>                 LOC=AE7;
NET  QUO<3>                 LOC=AK7;
NET  QUO<4>                 LOC=V10;
NET  QUO<5>                 LOC=V9;
NET  QUO<6>                 LOC=V7;
NET  QUO<7>                 LOC=W7;
NET  QUO<8>                 LOC=AB8;
NET  QUO<9>                 LOC=AC8;
NET  QUO<10>        LOC=AE8;
NET  QUO<11>        LOC=AK8;
NET  QUO<12>        LOC=W6;
NET  QUO<13>        LOC=Y6;
NET  QUO<14>        LOC=Y8;
NET  QUO<15>        LOC=AD6;
NET  QUO<16>        LOC=AD9;
NET  QUO<17>        LOC=AH9;
NET  QUO<18>        LOC=AJ9;
NET  QUO<19>        LOC=AK9;
NET  QUO<20>        LOC=AE6;
NET  QUO<21>        LOC=AH7;
NET  QUO<22>        LOC=AB6;
NET  QUO<23>        LOC=AA6;
NET  QUO<24>        LOC=AH10;
NET  QUO<25>        LOC=AJ10;
NET  QUO<26>        LOC=AD10;
NET  QUO<27>        LOC=AD11;
NET  QUO<28>        LOC=AB7;
NET  QUO<29>        LOC=Y7;
NET  QUO<30>        LOC=AC9;
NET  QUO<31>        LOC=AC10;

NET  RE<0>        LOC=AG17;
NET  RE<1>        LOC=AH18;
NET  RE<2>        LOC=AH19;
NET  RE<3>        LOC=AH20;
NET  RE<4>        LOC=AF18;
NET  RE<5>        LOC=AE18;
NET  RE<6>        LOC=Y24;
NET  RE<7>        LOC=AC24;
NET  RE<8>        LOC=AH22;
NET  RE<9>        LOC=AG22;
NET  RE<10>        LOC=AF24;
NET  RE<11>        LOC=AG25;
NET  RE<12>        LOC=AA24;
NET  RE<13>        LOC=AB25;
NET  RE<14>        LOC=AD25;
NET  RE<15>        LOC=AC25;
NET  RE<16>        LOC=AK26;
NET  RE<17>        LOC=AJ26;
NET  RE<18>        LOC=AH27;
NET  RE<19>        LOC=AK27;
NET  RE<20>        LOC=AD26;
NET  RE<21>        LOC=AB26;
NET  RE<22>        LOC=AC27;
NET  RE<23>        LOC=AB27;
NET  RE<24>        LOC=AJ27;
NET  RE<25>        LOC=AK28;
NET  RE<26>        LOC=AK29;
NET  RE<27>        LOC=AJ29;
NET  RE<28>        LOC=AF28;
NET  RE<29>        LOC=AE28;
NET  RE<30>        LOC=AH28;
NET  RE<31>        LOC=AG28;

NET  MCLK1	   IOSTANDARD = LVTTL;
NET  GO		   IOSTANDARD = LVTTL;

NET DIVIDEND<0> IOSTANDARD = LVTTL;
NET DIVIDEND<1> IOSTANDARD = LVTTL;
NET DIVIDEND<2> IOSTANDARD = LVTTL;
NET DIVIDEND<3> IOSTANDARD = LVTTL;
NET DIVIDEND<4> IOSTANDARD = LVTTL;
NET DIVIDEND<5> IOSTANDARD = LVTTL;
NET DIVIDEND<6> IOSTANDARD = LVTTL;
NET DIVIDEND<7> IOSTANDARD = LVTTL;
NET DIVIDEND<8> IOSTANDARD = LVTTL;
NET DIVIDEND<9> IOSTANDARD = LVTTL;
NET DIVIDEND<10> IOSTANDARD = LVTTL;
NET DIVIDEND<11> IOSTANDARD = LVTTL;
NET DIVIDEND<12> IOSTANDARD = LVTTL;
NET DIVIDEND<13> IOSTANDARD = LVTTL;
NET DIVIDEND<14> IOSTANDARD = LVTTL;
NET DIVIDEND<15> IOSTANDARD = LVTTL;
NET DIVIDEND<16> IOSTANDARD = LVTTL;
NET DIVIDEND<17> IOSTANDARD = LVTTL;
NET DIVIDEND<18> IOSTANDARD = LVTTL;
NET DIVIDEND<19> IOSTANDARD = LVTTL;
NET DIVIDEND<20> IOSTANDARD = LVTTL;
NET DIVIDEND<21> IOSTANDARD = LVTTL;
NET DIVIDEND<22> IOSTANDARD = LVTTL;
NET DIVIDEND<23> IOSTANDARD = LVTTL;
NET DIVIDEND<24> IOSTANDARD = LVTTL;
NET DIVIDEND<25> IOSTANDARD = LVTTL;
NET DIVIDEND<26> IOSTANDARD = LVTTL;
NET DIVIDEND<27> IOSTANDARD = LVTTL;
NET DIVIDEND<28> IOSTANDARD = LVTTL;
NET DIVIDEND<29> IOSTANDARD = LVTTL;
NET DIVIDEND<30> IOSTANDARD = LVTTL;
NET DIVIDEND<31> IOSTANDARD = LVTTL;

NET DIVISOR<0> IOSTANDARD = LVTTL;
NET DIVISOR<1> IOSTANDARD = LVTTL;
NET DIVISOR<2> IOSTANDARD = LVTTL;
NET DIVISOR<3> IOSTANDARD = LVTTL;
NET DIVISOR<4> IOSTANDARD = LVTTL;
NET DIVISOR<5> IOSTANDARD = LVTTL;
NET DIVISOR<6> IOSTANDARD = LVTTL;
NET DIVISOR<7> IOSTANDARD = LVTTL;
NET DIVISOR<8> IOSTANDARD = LVTTL;
NET DIVISOR<9> IOSTANDARD = LVTTL;
NET DIVISOR<10> IOSTANDARD = LVTTL;
NET DIVISOR<11> IOSTANDARD = LVTTL;
NET DIVISOR<12> IOSTANDARD = LVTTL;
NET DIVISOR<13> IOSTANDARD = LVTTL;
NET DIVISOR<14> IOSTANDARD = LVTTL;
NET DIVISOR<15> IOSTANDARD = LVTTL;
NET DIVISOR<16> IOSTANDARD = LVTTL;
NET DIVISOR<17> IOSTANDARD = LVTTL;
NET DIVISOR<18> IOSTANDARD = LVTTL;
NET DIVISOR<19> IOSTANDARD = LVTTL;
NET DIVISOR<20> IOSTANDARD = LVTTL;
NET DIVISOR<21> IOSTANDARD = LVTTL;
NET DIVISOR<22> IOSTANDARD = LVTTL;
NET DIVISOR<23> IOSTANDARD = LVTTL;
NET DIVISOR<24> IOSTANDARD = LVTTL;
NET DIVISOR<25> IOSTANDARD = LVTTL;
NET DIVISOR<26> IOSTANDARD = LVTTL;
NET DIVISOR<27> IOSTANDARD = LVTTL;
NET DIVISOR<28> IOSTANDARD = LVTTL;
NET DIVISOR<29> IOSTANDARD = LVTTL;
NET DIVISOR<30> IOSTANDARD = LVTTL;
NET DIVISOR<31> IOSTANDARD = LVTTL;

NET QUO<0> IOSTANDARD = LVTTL;
NET QUO<1> IOSTANDARD = LVTTL;
NET QUO<2> IOSTANDARD = LVTTL;
NET QUO<3> IOSTANDARD = LVTTL;
NET QUO<4> IOSTANDARD = LVTTL;
NET QUO<5> IOSTANDARD = LVTTL;
NET QUO<6> IOSTANDARD = LVTTL;
NET QUO<7> IOSTANDARD = LVTTL;
NET QUO<8> IOSTANDARD = LVTTL;
NET QUO<9> IOSTANDARD = LVTTL;
NET QUO<10> IOSTANDARD = LVTTL;
NET QUO<11> IOSTANDARD = LVTTL;
NET QUO<12> IOSTANDARD = LVTTL;
NET QUO<13> IOSTANDARD = LVTTL;
NET QUO<14> IOSTANDARD = LVTTL;
NET QUO<15> IOSTANDARD = LVTTL;
NET QUO<16> IOSTANDARD = LVTTL;
NET QUO<17> IOSTANDARD = LVTTL;
NET QUO<18> IOSTANDARD = LVTTL;
NET QUO<19> IOSTANDARD = LVTTL;
NET QUO<20> IOSTANDARD = LVTTL;
NET QUO<21> IOSTANDARD = LVTTL;
NET QUO<22> IOSTANDARD = LVTTL;
NET QUO<23> IOSTANDARD = LVTTL;
NET QUO<24> IOSTANDARD = LVTTL;
NET QUO<25> IOSTANDARD = LVTTL;
NET QUO<26> IOSTANDARD = LVTTL;
NET QUO<27> IOSTANDARD = LVTTL;
NET QUO<28> IOSTANDARD = LVTTL;
NET QUO<29> IOSTANDARD = LVTTL;
NET QUO<30> IOSTANDARD = LVTTL;
NET QUO<31> IOSTANDARD = LVTTL;
NET RE<0> IOSTANDARD = LVTTL;
NET RE<1> IOSTANDARD = LVTTL;
NET RE<2> IOSTANDARD = LVTTL;
NET RE<3> IOSTANDARD = LVTTL;
NET RE<4> IOSTANDARD = LVTTL;
NET RE<5> IOSTANDARD = LVTTL;
NET RE<6> IOSTANDARD = LVTTL;
NET RE<7> IOSTANDARD = LVTTL;
NET RE<8> IOSTANDARD = LVTTL;
NET RE<9> IOSTANDARD = LVTTL;
NET RE<10> IOSTANDARD = LVTTL;
NET RE<11> IOSTANDARD = LVTTL;
NET RE<12> IOSTANDARD = LVTTL;
NET RE<13> IOSTANDARD = LVTTL;
NET RE<14> IOSTANDARD = LVTTL;
NET RE<15> IOSTANDARD = LVTTL;
NET RE<16> IOSTANDARD = LVTTL;
NET RE<17> IOSTANDARD = LVTTL;
NET RE<18> IOSTANDARD = LVTTL;
NET RE<19> IOSTANDARD = LVTTL;
NET RE<20> IOSTANDARD = LVTTL;
NET RE<21> IOSTANDARD = LVTTL;
NET RE<22> IOSTANDARD = LVTTL;
NET RE<23> IOSTANDARD = LVTTL;
NET RE<24> IOSTANDARD = LVTTL;
NET RE<25> IOSTANDARD = LVTTL;
NET RE<26> IOSTANDARD = LVTTL;
NET RE<27> IOSTANDARD = LVTTL;
NET RE<28> IOSTANDARD = LVTTL;
NET RE<29> IOSTANDARD = LVTTL;
NET RE<30> IOSTANDARD = LVTTL;
NET RE<31> IOSTANDARD = LVTTL;

NET MCLK1		LOC=J16;
#NET GO			LOC=K11;

NET "MCLK1" TNM_NET = "SYS_CLK";
TIMESPEC "TS_SYS_CLK" = PERIOD "SYS_CLK" 14.52 ns HIGH 50 %;
